<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Question
                </th>
                <th scope="col" class="px-6 py-3">
                    Answer
                </th>
            </tr>
        </thead>
        <tbody>
            <% @chats.each do |chat| %>
              <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <td class="px-6 py-4">
                    <%= chat.question %>
                  </td>
                  <td class="px-6 py-4">
                    <%= chat.answer %>
                  </td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>